@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	margin-left: 80px;
	margin-right: 80px;
	counter-reset: h2counter;
}

body {counter-reset: h1}
h1 {counter-reset: h2}
h2 {counter-reset: h3}
h3 {counter-reset: h4}
h4 {counter-reset: h5}
h5 {counter-reset: h6}

h1:before {counter-increment: h1; content: counter(h1) ". "}
h2:before {counter-increment: h2; content: counter(h1) "." counter(h2) ". "}
h3:before {counter-increment: h3; content: counter(h1) "." counter(h2) "." counter(h3) ". "}
h4:before {counter-increment: h4; content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) ". "}
h5:before {counter-increment: h5; content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}
h6:before {counter-increment: h6; content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "}

h1.nocount:before, h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before { content: ""; counter-increment: none }

dl {counter-reset: dt}
dt:before {counter-increment: dt; content: counter(dt) ". "; font-family: 'Roboto', sans-serif}

dt.nocount:before {content: ""; counter-increment: none}

h1, h2, h3, h4, h5, .toc {
	font-size: 17px;
}

dt, code, tt, pre, .varname, .literal, .synopsis, .programlisting, .code, .filename, .function, .methodname, .constant {
	font-family: 'Roboto Mono', monospace;
}

dt, .varname, .literal, .filename, .function, .methodname {
	font-weight: bold;
}

td, th {
	padding: 6px;
}

.sidenav {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #064579;
  display: block;
}

.sidenav a:hover {
  color: #2196F3;
}

.main {
  margin-left: 25%; /* Same width as the sidebar + left position in px */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}